<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GFT-Shop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li *ngIf="isToken != null" class="nav-item">
        <a class="nav-link active" [routerLink]="['/produtos']">Produtos</a>
      </li>

      <li *ngIf="isToken != null" class="nav-item">
        <a class="nav-link active" [routerLink]="['/produtos/criar']"
          >Criar produto</a
        >
      </li>
    </ul>

    <li *ngIf="isToken != null" class="nav-item dropdown list-unstyled">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle btn-margin-left"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cart"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
          </svg>
          Ver carrinho
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <span>Veja itens no seu carrinho</span>
          <li><hr class="dropdown-divider" /></li>

          <a
            class="btn btn-outline-primary btn-sm"
            [routerLink]="['/carrinho/ver']"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
            Ver carrinho</a
          >
        </div>
      </div>
    </li>

    <li *ngIf="isToken == null" class="nav-item list-unstyled">
      <a class="btn btn-primary btn-margin-left" [routerLink]="['/login']"
        >LOGIN</a
      >
    </li>
    <li *ngIf="isToken == null" class="nav-item">
      <a
        class="btn btn-outline-primary btn-margin-left"
        [routerLink]="['/registrar']"
        >REGISTRAR</a
      >
    </li>
    <li *ngIf="isToken != null" class="nav-item list-unstyled">
      <a class="btn btn-danger btn-margin-left" [routerLink]="['/logout']"
        >LOGOUT</a
      >
    </li>
  </div>
</nav>
