<div *ngIf="isToken != null" class="album py-2 mt-5 mb-5 bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div
          [routerLink]="['/produtos/listar']"
          class="card mb-4 box-shadow shadow p-4 mb-3 bg-white rounded"
          role="button"
        >
          <img
            src="assets/ver-produto.svg"
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block"
            data-holder-rendered="true"
          />

          <div class="card-body">
            <h3 class="card-title text-center">Veja produtos</h3>
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          [routerLink]="['/produtos/criar']"
          class="card mb-4 box-shadow shadow p-4 mb-3 bg-white rounded"
        >
          <img
            src="assets/comprar-produto.svg"
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block"
            data-holder-rendered="true"
          />
          <div class="card-body">
            <h3 class="card-title text-center">Crie um produto</h3>
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div
          [routerLink]="['/carrinho/ver']"
          class="card mb-4 box-shadow shadow p-4 mb-3 bg-white rounded"
        >
          <img
            src="assets/criar-produto.svg"
            class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block"
            data-holder-rendered="true"
          />
          <div class="card-body">
            <h4 class="card-title text-center">Ver carrinho</h4>
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
